// Specific CSS for your home-page

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 3vh;
  background-color: #F5F5F5;

}

.container-home {
  height: 90vh;
}

.hover-image {
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.hover-image:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 175%;
  font-style: bold;
}
