<h1>Search a Candidate</h1>
<div class="container">
  <div class="container-index">
    <div class="d-flex justify-content-evenly">
      <div class="row row-cols-3">
        <% @users.each do |user| %>
          <% @name_user = "#{user.first_name} #{user.last_name}" %>
          <div class="col">
            <div class="cardIndex border border-2 rounded-4 mb-2">
              <img src="https://res.cloudinary.com/dhngy6nkx/image/upload/v1686068664/baldprofile.jpg" alt="">
              <div class="cardPhoto">
                <%= link_to @name_user, users_path %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
