<div class="container-home">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="sidebar bg-primary"></div>
    </div>
    <div class="row">
      <div class="col">
        <div class="profil bg-primary"></div>
      </div>
      <div class="row">
        <div class="col">
          <div class="experiences bg-primary"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="languages">
      </div>
    </div>
    <div class="col_4">
      <div class="companies">
      </div>
    </div>
    <div class="col-4">
      <div class="share">
      </div>
    </div>
  </div>
</div>
