<div class="container">
  <div class="container-home row justify-content-center align-item-center">
    <div class="col">
      <div class="d-flex flex-column justify-content-center align-content-center h-100 mb-5">
        <h1 class="title-home">Welcome on <span><br>Referral Safe.<br><span></h1>
        <div class="d-flex flex-column mt-5">
          <%= link_to users_path, class: "rounded-pill mb-3 d-flex justify-content-between align-items-center button-home" do %>
            <p>Start as a Recruiter...</p> <i class="fa-solid fa-right-to-bracket"></i>
          <% end %>
          <%= link_to users_path, class: "rounded-pill mt-3 d-flex justify-content-between align-items-center button-home" do %>
            <p>Start as a Candidate...</p> <i class="fa-solid fa-right-to-bracket"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
    <%= image_tag("referal-animation.png", class: "hover-image", alt: "Your Image") %>
    </div>
    </div>
  </div>
</div>
