.custom-checkbox {
	width: 65px;
	height: 35px;
	overflow: hidden;
	border-radius: 20px;;
}

.custom-checkbox-label {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	background-color: #5877FA;
	transition: background-color .3s;
	-o-transition: background-color .3s;
	-moz-transition: background-color .3s;
	-webkit-transition: background-color .3s;
}

.custom-checkbox-label-aux {
	top: 3px;
	left: 4px;
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	border-radius: 100%;
	transition: left .3s;
	-o-transition: left .3s;
	background-color: white;
	-moz-transition: left .3s;
	-webkit-transition: left .3s;
	box-shadow: 0px 1px 5px 0px rgba(56,55,56,0.61);
	-moz-box-shadow: 0px 1px 5px 0px rgba(56,55,56,0.61);
	-webkit-box-shadow: 0px 1px 5px 0px rgba(56,55,56,0.61);
}

.custom-checkbox-input:checked + .custom-checkbox-label {
	background-color: #6EDC5F;
}

.custom-checkbox-input:checked + .custom-checkbox-label .custom-checkbox-label-aux {
	left: 33px;
}

.custom-checkbox-input {
	display: none;

}

.custom-checkbox-input + label {
  margin-right: 1em;
}
