.button-home {
  width: 65%;
  padding: 1% 2%;
  background-color: #5877FA;
  color: white;
  text-decoration: none;
}

.button-home:hover {
  color: #5877FA;
  background-color: white;
}

.button-home > p {
  font-size: 22px;
  font-weight: 500;
}
