.button-home {
  width: 40%;
  padding: 1.6em;
}

.button-home > p {
  font-size: 25px;
  font-weight: 500;
}

.button-home:hover {
  border: 3px solid #5877FA;
}

#dropdownMenuLink {
  border-radius: 10px !important;
}
