.card-user {
  border-color: lightgrey;
  padding: 1em;
}
.card-user__image {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  border-style: solid 2px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }

}
.card-user__infos {
  justify-content: space-between;
  display: flex;
}

.card-user-skills {
  text-align: center;
}

.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-pill {
  background-color: #eee;
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: small;
}
