.company-card {
  background-color: #ffffff;
  border-radius: 0.2rem;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.company-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.company-card .company-name {
  font-size: 14px;
  margin-top: 5px;
}

.company-card-container {
  margin-right: 3%;
  margin-left: 3%;
}

.chatroom {
  border-style: solid 2px;
  height: 8em;
  width: 30%;
  transition: transform 0.3s, box-shadow 0.3s;
}
