.experiences {
  height: 8em;
  background-color: #ffffff;
  font-size: 1em;
  font-weight: 100;
  color: #000000;
  position: relative;
  border: 2px solid #5877FA;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  border-radius: 0.2rem;
}

.experiences:hover {
  transform: scale(1.02);
  box-shadow: 7px 7px 0 1px rgb(88, 119, 250);
  cursor: pointer;
}

.experiences-none {
  border: 2px solid #F2BE22;
  height: 8em;
  background-color: #ffffff;
  font-size: 1em;
  font-weight: 100;
  color: black;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  border-radius: 0.2rem;
  filter: brightness(70%);
}

.experiences-none:hover {
  transform: scale(1.02);
  box-shadow: 7px 7px 0 1px rgb(255, 139, 7);
  cursor: pointer
}

.absolute-alert {
  position: absolute;
  right: 6px;
  top: 3px
}

.experiences > h3 {
  font-size: 0.8em;
}

.company-experiences > h5 {
  font-size: 0.7em;
  font-weight: 500;
  font-style: italic;
}

.avatar-company {
  border-radius: 50%;
  border: white 1px solid
}

.date-experience {
  font-size: 0.6em;
  font-style: italic;
  font-weight: 100;
}

.experience-description {
  font-size: 0.6em;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.see-more {
  font-size: 0.8em;
  font-weight: 600;
  transition: transform 0.3s;
  text-align: center;
  color: #5877FA;
}

// .see-more:hover {
//   transform: scale(1.05);
//   color: rgb(73, 73, 73);
// }

.see-more-validate {
  font-size: 0.8em;
  font-weight: 600;
  transition: transform 0.3s;
  text-align: center;
  color: #ff8b07;
}

// .see-more-validate:hover {
//   transform: scale(1.05);
//   color: rgb(73, 73, 73);
// }

.experiences-adding {
  background-color: white;
  border: 2px solid #5877FA;
  border-radius: 0.2rem;
  height: 8em;
  width: 30%;
  transition: transform 0.3s, box-shadow 0.3s;
}
.experiences-adding:hover {
  transform: scale(1.02);
  box-shadow: 7px 7px 0 1px rgba(88, 119, 250, 1);
  cursor: pointer
}

.experiences-adding > p {
  font-size: 0.7em;
  font-weight: 500;
}

.pending-border {
  border: 3px solid #ff8b07;
}
