.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border-radius: 2em;
  max-height: 90vh;
  overflow-y: auto;
  outline: 0;
  padding: 2em;
  scroll-behavior: smooth;
}

.photo-modal {
  object-fit: cover;
  border-radius: 0.5rem;
}


.company-name {
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
}

.experience-date {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}

.fw-bolder {
  margin-bottom: 12px;
}

.text-modal {
  font-size: 20px;
}

.resume-button-container {
  width: 80%;
  text-align: center;
}

.resume-button {
  width: 100%;
  margin: 0 auto;
}

.rounded-circle {
  width: 100px;
  height: 100px;
}

.title-employer{
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 5px;
}

.employer-comment {
  font-size: 20px;
  font-style: italic;
}
