.go-back {
  width: 100%;
  margin-right: 0;
}


.profil-name {
  font-weight: 400;
  font-size: 0.8em;
}

.profil-job {
  font-size: 0.6em;
  font-weight: 400;
  font-style: italic;
}

.radius-profile {
  border-radius: 20px;
}

.available-status {
  width: 80%;
  font-size: 0.5em;
  background-color: #5877FA;
  padding: 2px 4px;
  text-align: center;
  color: white;
  border-radius: 0,2rem;
}
