.go-back {
  width: 100%;
  margin-right: 0;
}


.profil-name {
  font-weight: 400;
}

.profil-job {
  font-size: 0.7em;
  font-weight: 400;
  font-style: italic;
}

.radius-profile {
  border-radius: 20px;

}
