.go-back {
  width: 100%;
  margin-right: 0;
}


.profil-name {
  font-weight: 600;
  font-size: 1em;
  width: 100%;
}

.profil-job {
  font-size: 0.8em;
  font-weight: 300;
}

.radius-profile {
  border-radius: 20px;
}

.available-status {
  width: 100%;
  font-size: 0.8em;
  background-color: #5877FA;
  padding: 2px 4px;
  text-align: center;
  color: white;
  border-radius: 0,2rem;
  margin: 5px 0;
}
