.sidebar {
  width: 100%;
  background-color: blue;
}




ul {
	list-style-type: none;
}


/*	3. Skills
================================================================================ */
#skills {
	margin: 0 auto;
	width: 100%;
  margin-top: 40px;

	li {
		position: relative;
		margin-bottom: 40px;
		padding-left: 6px;

    .letter {
      font-size: 15px;
    }

		.bar-container,
		.bar {
			position: absolute;
			left: 0;
			height: 5px;
			border-radius: 5px;
			content: "";
		}

		.bar-container {
			bottom: -8px;
			width: 80%;
			background-color: #333;
			text-align: right;

			.bar {
				top: 0;
			}

			.pct {
				position: absolute;
				top: -23px;
				right: -18px;
				opacity: 0;
				transition: opacity 0.3s linear;
        font-size: 16px;
        font-weight: 600;
			}
		}
	}
}

.skill_name {
  font-weight: 300;
  font-size: 1em;
  padding-bottom: 25px;
}
