.container-sign {
  display: grid;
  justify-content: center;
}

.signup-all {
  background: white;
  max-width: 500px;
  padding: 50px;
  margin-top: 50px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
}

.signup-letter {
  display: grid;
  justify-content: center;
  font-weight: bold;
}

.form-actions_signup {
  display: grid;
  justify-content: center;
  background-color: #5877FA;
  margin: 40px;
  border-radius: 10px;
}

abbr {
  display: none
}

.form-actions_signup .btn {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.links_login a {
  text-decoration: none;
}
